.role-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-bottom: 0.1rem rgba($accent-dark, 0.5) solid;

  a:hover {
    text-decoration: none !important;
  }

  .role-title {
    padding: 0.4rem 0.8rem;
    margin: 0.3rem 0.8rem 0.3rem 0;
    font-weight: bold;
    background-color: rgba($text-color-light-shade, 0.1);
    color: $accent;
    border-radius: 0.2em;

    &:hover {
    background-color: rgba($text-color-light-shade, 0.15);
    }
  }

  .role-card-info-wrapper {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }

  .role-circles {
    display: flex;

    a {
      padding-right: 0.5rem;
    }

    p {
      color: $accent;
      padding: 0.2em 0.4em;
      border: 0.1em solid rgba($accent, 0.5);
      opacity: 0.7;
      border-radius: 0.2em;

      &:hover {
        opacity: 1;
      }
    }
  }

  .role-employees {
    display: flex;
    align-items: center;
  }
}
