.role-card {
}

.role-card-content {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.role-card-title-container {
  margin: 0 auto;
  word-wrap: break-word;
  max-width: 100%;
}

// .role-card-details {
//   position: absolute;
//   top: 3rem;
// }
