.role-overview-container {
  .role-info-container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: $spacer-base $spacer-sm;
  }

  .circle-icon {
    // grid-row: 1;
  }

  .role-overview-circles {
    // grid-row: 1;
  }

  .employee-icon {
    // grid-row: 2;
  }

  .role-overview-employees {
    // grid-row: 2;
  }
}
