<div class="box">
  <h1>soulies</h1>
  <div class="searchbar-container">
    <%= form_tag employees_path, method: 'get', class:'searchbar-employees' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "soulies durchsuchen",
        autofocus: true %>
    <% end %>
  </div>

  <div class="cluster">
    <div> <!-- wrapper -->
      <% @employees.each do |e| %>
        <%= render 'shared/employee-card', locals: { employee: e, hue: @colors[e.id] } %>
      <% end %>
    </div>
  </div>
</div>
