<div class="box">
  <h1><%= "#{@employee.first_name} #{@employee.last_name}" %></h1>

  <%#= render 'shared/tabs', locals: { tabs: @tabs } %>

  <div class="employee-content">
    <%= render 'shared/show-page-content' %>
  </div>
</div>
