// TODO: Refactor using every layout principles

.circle-overview-container {
  .circle-overview-info {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-gap: $spacer-base $spacer-sm;
  }

  .orgchart {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 10;

    .circle-0 {
      width: 800px;
      height: 800px;
    }

    .circle-0 > a > .circle-title-container {
        display: none;
      }

    .subcircle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px !important;
      height: 150px !important;

      .role {
        display: none;
      }
    }

    .circle-title {
      font-size: 0.8rem;
    }
  }
}
