// Define variables for your color scheme

// TODO: define colors with hsl
// https://www.w3schools.com/colors/colors_converter.asp

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;

$gray-light: hsl(0, 0%, 75%);
$gray-base: hsl(0, 0%, 60%);

$action: hsl(40, 82%, 45%);

$accent: #007580;
$accent-dark: #003A40;

$text-color-dark-shade: #1A0A0F;
$text-color: #2A1A1F;
$text-color-light-shade: #4F313B;

$headline-color: #4F313B;

// *****************************
// * soulbottles color palette *
// *****************************
// the '500' values are the original colors
$clr-corporate-light-500: hsl(175, 35%, 93%);
$clr-corporate-dark-500: hsl(171, 100%, 38%);

$clr-text-light-500: hsl(0, 0%, 100%);
$clr-text-dark-500: hsl(0, 0%, 0%);

$clr-highlight-yellow-300: hsl(49, 100%, 52%);
$clr-highlight-yellow-400: hsl(49, 100%, 62%);
$clr-highlight-yellow-500: hsl(49, 100%, 72%);
$clr-highlight-yellow-600: hsl(49, 100%, 82%);
$clr-highlight-yellow-700: hsl(49, 100%, 92%);

$clr-highlight-red-300: hsl(14, 100%, 51%);
$clr-highlight-red-400: hsl(14, 100%, 61%);
$clr-highlight-red-500: hsl(14, 100%, 71%);
$clr-highlight-red-600: hsl(14, 100%, 81%);
$clr-highlight-red-700: hsl(14, 100%, 91%);

$clr-highlight-pink-300: hsl(259, 57%, 53%);
$clr-highlight-pink-400: hsl(259, 57%, 63%);
$clr-highlight-pink-500: hsl(259, 57%, 73%);
$clr-highlight-pink-600: hsl(259, 57%, 83%);
$clr-highlight-pink-700: hsl(259, 57%, 93%);

$clr-highlight-blue-300: hsl(211, 31%, 47%);
$clr-highlight-blue-400: hsl(211, 31%, 57%);
$clr-highlight-blue-500: hsl(211, 31%, 67%);
$clr-highlight-blue-600: hsl(211, 31%, 77%);
$clr-highlight-blue-700: hsl(211, 31%, 87%);

$clr-highlight-mint-300: hsl(166, 33%, 48%);
$clr-highlight-mint-400: hsl(166, 33%, 58%);
$clr-highlight-mint-500: hsl(166, 33%, 68%);
$clr-highlight-mint-600: hsl(166, 33%, 78%);
$clr-highlight-mint-700: hsl(166, 33%, 88%);

$clr-highlight-turquoise-300: hsl(182, 47%, 41%);
$clr-highlight-turquoise-400: hsl(182, 47%, 51%);
$clr-highlight-turquoise-500: hsl(182, 47%, 61%);
$clr-highlight-turquoise-600: hsl(182, 47%, 71%);
$clr-highlight-turquoise-700: hsl(182, 47%, 81%);

.clr-corporate-dark-500 {
  color: $clr-corporate-dark-500;
}
