// Define variables for your color scheme

// TODO: define colors with hsl
// https://www.w3schools.com/colors/colors_converter.asp

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;

$gray-300: hsl(0, 0%, 75%);
$gray-400: hsl(0, 0%, 60%);

$action: hsl(40, 82%, 37%);

// $accent: #664405;
$accent: #007580;
$accent-dark: #003A40;

$text-color-dark-shade: #1A0A0F;
$text-color: #2A1A1F;
$text-color-light-shade: #4F313B;

$headline-color: #4F313B;
