// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$accent: #007580;
$accent-dark: #003530;
$text-color-dark-shade: #1A0A0F;
$text-color: #2A1A1F;
$text-color-light-shade: #6A5A5F;
$headline-color: #420700;
$mid-light-color: #AD8350;
$light-color: #AFA060;

