// ********************
// * LAYOUT VARIABLES *
// ********************
$max-width: 58rem;

$grid-gap-vertical: 1rem;
$grid-gap-horizontal: 0.5rem;

$icon-size-medium: 1.2rem;

$border-width-thin: 0.15rem ;
$border-width-regular: 0.4rem ;

// *************
// * CSS RULES *
// *************
h1, h2 {
  color: $headline-color;
}
