// circles#index
.circles-index-page-container {
  max-width: 96%;
  margin: 0 auto;
}

.circles-container {
  display: flex;
  // gap: 1rem; not widely supported yet
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
