// ***********
// * GENERAL *
// ***********

.page-container {
  margin: 0 auto;
  // this calc assures that page content stays centered when scrollbar (dis-)appears
  // 100vw includes the scrollbar, 100% does not
  padding: 1rem 1rem 1rem calc(1rem + 100vw - 100%);
}

.show-page-middle-container {
  max-width: 50rem;
  margin: 0 auto;
}

.invisible-content {
  display: none;
}

.icon-medium-size {
  width: $icon-size-medium;
  height: $icon-size-medium;
}

.icon-large-size {
  width: $icon-size-large;
  width: $icon-size-large;
}

.text-link {
  color: $accent;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    opacity: 0.85;
    color: $accent-dark;
  }
}

.inline-text {
  display: inline;
}

// *********
// * PAGES *
// *********

// circles#index
.circles-index-page-container {

  .circles-container {
  }
}

// circles#show
.circles-show-page-container {

  .circle-content {
  }
}

// roles#index
.roles-index-page-container {

  .roles-container {
  }
}

// roles#show

// shifts#new
.shifts-new-page-container {
  display: flex;
}

.user-dashboard-shifts-container {
  min-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
