// ***********
// * GENERAL *
// ***********
.page-container {
  margin: 0 auto;
  // this calc assures that page content stays centered when scrollbar (dis-)appears
  // 100vw includes the scrollbar, 100% does not
  padding: 1rem 1rem 1rem calc(1rem + 100vw - 100%);
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: $max-width;
    margin: 0 auto;

    a {
      border-radius: 50%;
      margin: 2rem;
    }

    a:hover {
      text-decoration: none !important;
    }
}

.card-basic {
  height: 16rem;
  width: 16rem;
  margin: 0;
  padding: 1rem;

  background-color: white;
  color: $text-color;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1.5rem $accent outset;

  transition: 0.3s ease;

  &:hover {
    background-color: $accent;
    color: white;
    border: 1.5rem rgba($accent, 0.95) outset;
    transform: scale(1.02);
  }
}

.show-page-middle-container {
  max-width: $max-width;
  margin: 1rem auto;
  padding: 1rem;
  border: 0.25rem dashed $text-color;
}

.invisible-content {
  display: none;
}

// *********
// * PAGES *
// *********

// circles#index
.circles-index-page-container {

  .circles-container {
  }
}

// circles#show
.circles-show-page-container {

  .circle-content {
  }
}

// roles#index
.roles-index-page-container {

  .roles-container {
  }
}

// roles#show
