<% c = locals[:circle] %>

<%= link_to circle_path(c) do  %>
  <div class="circle-card card-basic">
    <div class="circle-content">
      <h2> <%= c.abbreviation || c.title %> </h2>
    </div>
  </div>
<% end %>
