<% c = locals[:circle] %>

<div class="circle-card">
  <p><%= c.title %> <%= "(#{c.abbreviation})" if c.abbreviation %></p>
</div>

  <!--       <ul>
          <li>
            <%#= "Superkreis: #{c.parent_circle.title}" if c.parent_circle %>
          </li>
          <li>
            <%#= "Subkreise:"%>
            <ul>
              <%# c.sub_circles.each do |sc| %>
                <%#= sc.title %>
              <%# end %>
            </ul>
          </li>
          <ul>
            <%# c.roles.each do |r| %>
              <li><%#= r.title %></li>
            <%# end %>
          </ul>
        </ul> -->

      <!-- </li> -->
