<section class="stack <%= locals[:visibility_class] %>" id="<%= locals[:dataset_id] %>">
  <% @roles.each do |r| %>
    <%= render 'shared/role-card-short', locals: { role: r } %>
  <% end %>
</section>
