<section class="circle-employees-container cards-container <%= locals[:visibility_class] %>" id="<%= locals[:dataset_id] %>">
  <% @employees.each do |e| %>
    <%= render 'shared/employee-card', locals: { employee: e } %>
  <% end %>
</section>
