<% c = locals[:circle] %>
<%= link_to circle_path(c) do  %>
  <div class="circle-card">
    <div class="circle-content">
      <p><%= c.title %> <br> <%= "(#{c.abbreviation})" if c.abbreviation %></p>
    </div>
  </div>
<% end %>
