<section class="stack <%= locals[:visibility_class] %>" id="<%= locals[:dataset_id] %>">
  <% if policy(Role.new(primary_circle: @circle)).new? %>
    <%= link_to "Rolle hinzufügen", new_role_path %>
  <% end %>
  <% @roles.each do |r| %>
    <%= render 'shared/role-card-short', locals: { role: r } %>
  <% end %>
</section>
