<section class="circle-description-container <%= locals[:visibility_class] %>" id="<%= locals[:dataset_id] %>">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis repellat vel praesentium totam modi necessitatibus, neque! Neque odio dolorem, iure, maxime quis ea sed repellendus, libero consequatur vel, adipisci amet.
  </p>
</section>
