<section class="circle-roles-container cards-container <%= locals[:visibility_class] %>" id="<%= locals[:dataset_id] %>">
  <% @roles.each do |r| %>
    <%= render 'shared/role-card', locals: { role: r } %>
  <% end %>
</section>
