<% e = locals[:employee] %>

<div class="card-wrapper">
  <%= link_to employee_path(e) do  %>
    <div class="employee-card card-basic">
      <div class="employee-name-container">
        <p> <%= e.nickname || e.first_name %> </p>
      </div>
    </div>
  <% end %>
</div>

