<% e = locals[:employee] %>

<%= link_to employee_path(e) do  %>
  <div class="employee-card card-basic">
    <div class="employee-name-container">
      <h3> <%= e.nickname || e.first_name %> </h3>
    </div>
  </div>
<% end %>
