<% e = locals[:employee] %>
<% r = locals[:role] %>

<% div_class = e.status(r) %>
<div class="initials">
  <%= link_to employee_path(e), class: 'fill-space d-flex align-items-center' do %>
    <div class="initials-container fill-space d-flex-center <%= div_class %>">
      <p class="d-inline"><%= e.initials %></p>
    </div>
  <% end %>
</div>
