<% r = locals[:role] %>

<div class="card-wrapper">
  <%= link_to role_path(r) do %>
    <div class="role-card card-basic">
      <div class="role-card-content">
        <div class="role-card-title-container">
          <p class="role-card-title"> <%= r.title %> </p>
        </div>
  <!--
        <div class="role-card-details">
          <p calss="role-circle"> <%#= r.circles.first.abbreviation || r.circles.first.title %> </p>
        </div> -->
      </div>
    </div>
  <% end %>
</div>
