  <div class="day-shift-list">
    <div class="weekday-wrapper">
    </div>
    <div class="day-shifts">
      <div class="shift-card shift-list-header">
        <p class="role-title">Rolle</p>

        <div class="data-wrapper">
          <div class="times">
            <p class="time-start">von</p>
            <p class="time-end">bis</p>
          </div>

          <div class="validity">
            <p class="valid-from">gültig ab</p>
            <p class="valid-until">gültig bis</p>
          </div>

          <div class="links">
          </div>
        </div>
      </div>
    </div>
  </div>



