<section>
  <ul class="d-flex flex-wrap">
    <li>
      <div class="list-item-container d-flex-center">
        <% tab1 = @tabs.first %>
        <a href="" class="fill-space"><p class="tab active-tab" data-id="<%= tab1[:dataset_id] %>"><%= tab1[:name] %></p></a>
      </div>
    </li>

    <% @tabs[1..-1].each do |tab| %>
      <li>
        <div class="list-item-container d-flex-center">
          <a href="" class="fill-space"><p class="tab" data-id="<%= tab[:dataset_id] %>"><%= tab[:name] %></p></a>
        </div>
      </li>
    <% end %>
  </ul>
</section>
