<div class="box">
  <h2>Accountverwaltung</h2>
  <%= link_to '+ soulie hinzufügen', new_employee_path %>
  <%#= link_to '+ Account ohne soulie hinzufügen', new_registration_path %>


  <!-- maybe split directly into active/deactivated using different lists -->
  <div class="stack mt-base">
    <% @users.each do |u| %>
      <%= render 'shared/user-card', locals: { user: u } %>
    <% end %>
  </div>
</div>
