<div class="box">
  <h2>Accountverwaltung</h2>
  <%= link_to new_employee_path, class: 'btn-basic btn--clr-action' do %>
    <div>
      <p>+ Account hinzufügen</p>
    </div>
  <% end %>
  <%#= link_to '+ Account ohne soulie hinzufügen', new_employee_path %>


  <div class="stack-lg mt-base">
    <h3>Aktiviert</h3>
  <div class="stack mt-base">
    <% @users_activated.each do |u| %>
      <%= render 'shared/user-card', locals: { user: u } %>
    <% end %>
  </div>
    <h3>Deaktiviert</h3>
  <div class="stack mt-base">
    <% @users_deactivated.each do |u| %>
      <%= render 'shared/user-card', locals: { user: u } %>
    <% end %>
  </div>
  </div>
</div>
