<div class="box stack">
  <h2>Accountverwaltung</h2>
  <div class="stack">
    <%= link_to 'Account f체r soulie hinzuf체gen', new_employee_path, class: 'btn-basic btn--clr-action' %>
    <%= link_to 'soulie-unabh채ngigen Account hinzuf체gen', new_user_path, class: 'btn-basic btn--clr-action' %>
  </div>


  <div class="stack-lg">
    <h3>Aktiviert</h3>
    <div class="stack">
      <% @users_activated.each do |u| %>
        <%= render 'shared/user-card', locals: { user: u } %>
      <% end %>
    </div>
    <h3>Deaktiviert</h3>
    <div class="stack">
      <% @users_deactivated.each do |u| %>
        <%= render 'shared/user-card', locals: { user: u } %>
      <% end %>
    </div>
  </div>
</div>
