<div class="orgchart">
  <%= sanitize @circles_html %>
</div>

<!-- *********** -->
<!-- FOR TESTING -->
<!-- *********** -->
<!-- <div class="orgchart"> -->
  <!-- <div class="circle-0"> -->
    <!-- 10/68 roles -->
    <!-- idea for size: sqrt((10/68) * 0.7) -->
    <!-- <div class="circle-1 subcircle" style="--size: 32.08%;"> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
    <!-- </div> -->
    <!-- 17/68 roles -->
    <!-- <div class="circle-1 subcircle" style="--size: 41.83%;"> -->
      <!-- 8/17 roles -->
      <!-- <div class="circle-2 subcircle" style="--size: 57.39%;"> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
      <!-- </div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
    <!-- </div> -->
    <!-- 14/68 roles -->
    <!-- <div class="circle-1 subcircle" style="--size: 37.96%;"> -->
      <!-- 6/14 roles -->
      <!-- <div class="circle-2 subcircle" style="--size: 54.77%;"> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
        <!-- <div class="role-2 role" style="--size: 60px;"></div> -->
      <!-- </div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
    <!-- </div> -->
    <!-- 12/68 roles -->
    <!-- <div class="circle-1 subcircle" style="--size: 35.15%;"> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
      <!-- <div class="role-1 role" style="--size: 60px;"></div> -->
    <!-- </div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
    <!-- <div class="role-0 role" style="--size: 60px;"></div> -->
  <!-- </div> -->
<!-- </div> -->
