<%# gcc = @circles. circlefind_by(acronym: 'GCC') %>
<!-- <div class="orgchart-container">
  <div class="inner-container container-0">
    <h2 class="circle-t circleitle sub-item-0">
      <%#= gcc.acronym %>
    </h2>
    <%# gcc.roles. roleeach do |r| %>
      <div class="role s roleub-item-0">
        <%#= r.title %>
      </div>
    <%# end %>
    <%# gcc.sub_circles. circleeach do |sc1| %>
      <div class="subcircle s circleub-item-0">
        <div class="inner-container container-1">
          <h2 class="circle-t circleitle sub-item-1">
            <%#= sc1.acronym || sc1.title%>
          </h2>
          <%# sc1.roles. roleeach do |r| %>
            <div class="role s roleub-item-1">
              <%#= r.title %>
            </div>
          <%# end %>
          <%# if  !sc1.sub_circles. circleempty? %>
            <%# sc1.sub_circles. circleeach do |sc2| %>
              <div class="subcircle s circleub-item-1">
                <div class="inner-container container-2">
                  <h2 class="circle-t circleitle sub-item-2">
                    <%#= sc2.acronym || sc2.title %>
                  </h2>
                  <%# sc2.roles. roleeach do |r| %>
                    <div class="role s roleub-item-2">
                      <%#= r.title %>
                    </div>
                  <%# end %>
                </div>
              </div>
            <%# end %>
          <%# end %>
        </div>
      </div>
    <%# end %>
  </div>
</div> -->

<div class="orgchart">
  <div class="circle-0">
    <!-- 10/68 roles -->
    <!-- idea for size: sqrt((10/68) * 0.7) -->
    <!-- <div class="circle-1 subcircle" style="--size: 26.84%;"> -->
    <div class="circle-1 subcircle" style="--size: 32.08%;">
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
    </div>
    <!-- 17/68 roles -->
    <!-- <div class="circle-1 subcircle" style="--size: 35%;"> -->
    <div class="circle-1 subcircle" style="--size: 41.83%;">
      <!-- 8/17 roles -->
      <div class="circle-2 subcircle" style="--size: 57.39%;">
        <div class="role-2 role" style="--size: 60px;"></div>
        <div class="role-2 role" style="--size: 60px;"></div>
        <div class="role-2 role" style="--size: 60px;"></div>
        <div class="role-2 role" style="--size: 60px;"></div>
        <div class="role-2 role" style="--size: 60px;"></div>
        <div class="role-2 role" style="--size: 60px;"></div>
        <div class="role-2 role" style="--size: 60px;"></div>
        <div class="role-2 role" style="--size: 60px;"></div>
      </div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
    </div>
    <!-- 14/68 roles -->
    <div class="circle-1 subcircle" style="--size: 37.96%;">
      <!-- 6/14 roles -->
      <div class="circle-2 subcircle" style="--size: 54.77%;">
        <div class="role-2 role" style="--size: 60px;"></div>
        <div class="role-2 role" style="--size: 60px;"></div>
        <div class="role-2 role" style="--size: 60px;"></div>
        <div class="role-2 role" style="--size: 60px;"></div>
        <div class="role-2 role" style="--size: 60px;"></div>
        <div class="role-2 role" style="--size: 60px;"></div>
      </div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
    </div>
    <!-- 12/68 roles -->
    <div class="circle-1 subcircle" style="--size: 35.15%;">
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
      <div class="role-1 role" style="--size: 60px;"></div>
    </div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
    <div class="role-0 role" style="--size: 60px;"></div>
  </div>
</div>
