<div class="user-dashboard-container page-container">
  <div class="user-dashboard-shifts-container">
    <div class="btn-wrapper">
      <%= link_to 'Schicht hinzufügen', new_shift_path, class: 'btn-action'%>
    </div>
    <%= render 'shared/shift-list' %>
  </div>
</div>
