<div class="box">
  <h3>Meine Rollenfüllungen</h3>
  <% @roles_data.each do |r| %>
    <%= render 'shared/my-role-card', locals: { role_data: r } %>
  <% end %>

  <%#= render 'shared/shift-list' %>
</div>
