.employee-card-simple {
  width: 50ch;
  display: flex;
  box-shadow: 0 0 6px 1px rgba($accent, 0.2);
  padding: 1em 0;
  margin: 0.5em 0;

  &:hover {
    box-shadow: 0 0 8px 1px rgba($accent, 0.2);
  }

  .employee-link, .role-link {
    color: rgba($accent, 0.85);

    &:hover {
      color: $accent;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .name, .roles {
    width: 50%;
    padding: 0 1em;

  }

  .name {
    font-weight: bold;
    border-right: 2px solid $accent;

    p {
      text-align: right;
    }
  }

  .role-title {
    margin-bottom: 0.5em;
  }
}
