<div class="roles-index-page-container page-container">


  <div class="roles-container cards-container">
  <div class="searchbar-container">
    <%= form_tag roles_path, method: :get, class:'searchbar-roles' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Rollen durchsuchen",
        autofocus: true %>
      <%#= submit_tag "Suchen", class: "btn btn-primary" %>
    <% end %>
  </div>
<!--     <div class="roles-list-header">
      <div class="role-title">
        <p>Rolle</p>
      </div>
      <div class="roles-list-info-wrapper">
        <div class="role-circles">
          <p>Kreise</p>
        </div>
        <div class="role-employees">
          <p>Soulies</p>
        </div>
      </div>
    </div> -->

    <% @roles.sort_by { |role| role.title }.each do |r| %>
      <%= render 'shared/role-card', locals: { role: r } %>
    <% end %>
  </div>
</div>
