<div class="roles-show-page-container page-container">
  <div class="show-page-middle-container">
    <h1><%= @role.title %></h1>

    <%= render 'shared/tabs', locals: { tabs: @tabs } %>
    <div class="role-content">
      <%= render 'shared/show-page-content' %>
    </div>
  </div>
</div>
