// NOTE: - a button with text is structured <a> <div> click me </div> </a>
//       - an icon button is structured <a> <i> </i> </a>

// a button with centered text, border-radius and opacity change on hover
.btn-basic {
  // TODO: find out why the line in global.scss doesn't cover this
  &:hover {
    text-decoration: none;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $btn--padding-base;
    border-radius: $border-radius-base; 
    font-weight: bold;
    opacity: 0.85;
    transition: $btn--opacity-transition;

    &:hover {
      opacity: 1.0;
    }
  }
}

// NOTE: when border-color is omitted, the text-color is used
.btn--border > div {
  border: $border-width-sm solid;
}

.btn--clr-edit {
  color: $accent;

  &:hover {
    color: $accent;
  }
}

.btn--clr-edit-icon {
  color: $gray-light;

  &:hover {
    color: $gray-base;
  }
}

.btn--clr-action {
  color: white;

  &:hover {
    color: white;
  }

  & > div {
    background-color: $action;
  }
}

.text__link {
  color: $accent;
  font-weight: bold;
  opacity: $btn--opacity;

  &:hover {
    text-decoration: none;
    opacity: 1;
    color: $accent;
  }
}

.btn-submit {
  color: $clr-text-light-500 ;
  font-weight: bold;
  background-color: $clr-highlight-mint-300;
  opacity: $btn--opacity;
  transition: $btn--opacity-transition;

  &:hover {
  color: $clr-text-light-500;
  opacity: 1;
  }
}
