// NOTE: - a button with text is structured <a> click me </a>
//       - an icon button is structured <a> <i> </i> </a>

// a button with centered text, border-radius and background transition
  .btn-basic {
  // TODO: find out why the line in global.scss doesn't cover this
  padding: $btn--padding-base;
  border-radius: $border-radius-base;
  font-size: $font-size-sm;
  transition: $btn--bg-clr-transition;
  &:hover {
    text-decoration: none;
  }
 }


.btn--clr-edit {
  color: $accent;

  &:hover {
    color: $accent;
  }
}

.btn--clr-action {
  color: $clr-text-light-500;
  background-color: $clr-highlight-pink-500;

  &:hover {
    color: $clr-text-light-500;
    background-color: $clr-highlight-pink-400;
  }
}

.btn--clr-primary {
  color: $clr-text-light-500;
  background-color: $clr-highlight-mint-300;

  &:hover {
    color: $clr-text-light-500;
  background-color: $clr-highlight-mint-200;
  }
}

.btn--clr-submit {
  color: $clr-text-light-500 ;
  background-color: $clr-highlight-turquoise-400;

  &:hover {
    color: $clr-text-light-500;
    background-color: $clr-highlight-turquoise-300;
  }
}

.btn--clr-edit-icon, .btn--clr-delete-icon {
  color: $gray-light;

  &:hover {
    color: $gray-base;
  }
}

// TODO: do the hover effect with clr instead of opacity and name it a regular btn--clr-xx class
.text__link {
  color: $accent;
  opacity: $btn--opacity;

  &:hover {
    text-decoration: none;
    opacity: 1;
    color: $accent;
  }
}

