.edit-role, .edit-circle {
  color: $gray-light;
  margin-left: $spacer-xsm;

  &:hover {
    color: $gray-base;
  }
}

.btn-wrapper {
  // padding-bottom: 0.6em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-action {
    background-color: rgba($action, 0.85);
    padding: 0.5em 1em;
    border-radius: $border-radius-base;
    color: white;
    font-weight: bold;
    width: max-content;
    text-align: center;
    transition: 100ms linear;

    &:hover {
      color: white;
      text-decoration: none;
      background-color: $action;
    }
}

.btn-container {
  display: inline-block;
  margin-top: 1.5em;
}

.btn-outline {
  border-radius: 0.2em;
  padding: 0.6em 1.2em;
  opacity: 0.85;
  font-weight: bold;
  transition: opacity 0.1s;
  background: rgba(white, 0.5);
  box-shadow: inset 0 0 0 0.15em $accent;
  color: $accent;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: $accent;
  }
}
