// TODO: DRY

.card__full-name--width {
  width: $full-name-width;
}

.card__email--width {
  width: $email-width;
}

.card__user-status--width {
  width: $user-status-width;
}

.card__user-admin--width {
  width: $user-admin-width;
}

.card--border-radius {
  border-radius: $border-radius-base;
}


// *****************
// * Employee Card *
// *****************
.employee-card {
  $color: hsl(var(--hue), 40%, 35%);
  $color-light: hsl(var(--hue), 40%, 70%);
  $color-pale: hsla(var(--hue), 40%, 35%, 0.2);
  // TODO: move variables in global file
  $deco-size-large: 100px;
  $deco-size-small: 75px;

  background: white;
  overflow: hidden;
  z-index: 1;
  position: relative;
  width: 40ch;
  box-shadow: 0 0 6px 1px $color-pale;
  margin: 1rem;
  padding: 1rem;
  transition: transform 0.15s ease, box-shadow 0.15s ease;

  & > a {
    z-index: 3;
  }

  &:hover {
    transform: scale(1.015);
    box-shadow: 0 0 8px 1px $color-pale;

    &::before, &::after {
      opacity: 1;
    }
  }

  &::before, &::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }

  &::before {
    width: $deco-size-large;
    height: $deco-size-large;
    background-color: $color-pale;
    top: - $deco-size-large/2;
    left: $deco-size-large/2;
  }

  &::after {
    width: $deco-size-small;
    height: $deco-size-small;
    background-color: $color-light;
    bottom: - $deco-size-small/2;
    right: - $deco-size-small/2;
  }

  .info-link {
    color: $accent-dark;
    font-weight: bold;
    opacity: 0.85;
  }

  .info-link:hover {
    text-decoration: underline;
    opacity: 1;
  }

  .name {
    color: $color;
    text-align: center;
  }

  .full-name {
  }

  .info {
    display: flex;
    font-size: 0.8rem;
    padding-top: 1em;

    .circles, .roles {
      width: 50%;
      padding: 1em;
    }
  }

  .img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.8em;
    opacity: 0.7;
  }

  p {
    text-align: center;
    overflow-wrap: break-word;
  }


  .circles {
    border-right: 1px solid $color;
  }

  .roles {
    border-left: 1px solid $color;
  }

  .circle-title, .role-title {
    padding: 0.25em 0;
  }
}


.employee-card-simple {
  max-width: $container--max-width-xsm;
  display: flex;
  padding: $card--padding-base; 
  border-radius: $border-radius-base;
  background: white;

  &:hover {
    // box-shadow: 0 0 8px 1px rgba($accent, 0.2);
  }

  .employee-link, .role-link {
    color: rgba($accent, 0.85);

    &:hover {
      color: $accent;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .name, .roles {
    width: 50%;
    padding: 0 1em;

  }

  .name {
    font-weight: bold;
    border-right: 2px solid $accent;

    p {
      //text-align: right;
    }
  }

  .role-title {
    margin-bottom: 0.5em;
  }
}

// *************
// * Role Card *
// *************

.my-role-card {
  background: white;
  display: grid;
  grid-template-columns: 5fr 5fr 2fr 1fr;
  grid-gap: $spacer-base;
  max-width: $container--max-width-base;
  box-shadow: 0 0 6px 1px rgba($accent, .2);
  margin: $spacer-base 0;
  padding: $spacer-base;

  & > * {
    margin-top: auto;
    margin-bottom: auto;
  }

  a {
    opacity: 0.85;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.role-title {
  color: $accent;
  font-weight: bold;
}

.circles {
  & > a {
    // TODO: opacity is not working, idk why
    // opacity: 0.85;
    color: rgba($accent-dark, 0.9);
  }

  & > a:hover {
    // opacity: 1;
  }
}

.status {
  color: $text-color;
  font-size: 0.8rem;
  opacity: 0.7;
}

.links {
  text-align: right;

  & > a {
    color: rgba($accent, 0.8);
  }
}


.role-card {
  background: white;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: $container--max-width-lg;
  padding: $card--padding-sm;
  border-radius: $border-radius-base;

  a:hover {
    text-decoration: none !important;
  }

  .role-title {
    font-weight: bold;
    color: $accent;
    border-radius: 0.2em;
  }

  .role-card-info-wrapper {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }

  .role-circles {
    display: flex;

    a {
      padding-right: 0.5rem;
    }

    p {
      color: $accent;
      padding: 0.2em 0.4em;
      border: 0.1em solid rgba($accent, 0.5);
      opacity: 0.7;
      border-radius: 0.2em;

      &:hover {
        opacity: 1;
      }
    }
  }

  .role-employees {
    display: flex;
    align-items: center;
  }
}

// *********************
// * Role Filling Card *
// *********************
.role-filling-card {
 // grid-template-columns: 2fr 1fr 1fr;
  max-width: $container--max-width-lg;
  padding: $card--padding-sm;
}
