.circle-overview-container {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-gap: $grid-gap-vertical $grid-gap-horizontal;

  .circle-overview-icon {
    width: 2rem;
    height: 2rem;
    grid-column: 1;
  }

  .super-circle-icon {
    // grid-row: 1;
  }

  .circle-overview-super-circle {
    // grid-row: 1;
  }

  .sub-circle-icon {
    // grid-row: 2;
  }

  .circle-overview-sub-circles {
    // grid-row: 2;
  }

  .bold {
    font-weight: 700;
  }


}
