.circle-card {
  border-radius: 50%;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-content {
  max-width: 78%;
  max-height: 78%

  p {
    margin: 0;
  }
}
