.circle-shifts-container {
// passing params to css:
// https://stackoverflow.com/questions/17893823/how-to-pass-parameters-to-css-classes

  .name-row {
    display: grid;
    grid-auto-columns: 1.5rem;
    grid-template-rows: [name] 5rem;
    grid-gap: 4px;
  }

  .grid-lower-part {
    display: flex;
    max-height: 50vh;
    overflow: auto;
    border-top: 0.1rem rgba($text-color, 0.2) solid;
    border-bottom: 0.1rem rgba($text-color, 0.2) solid;
  }

  .time-column, .shifts-grid {
    display: grid;
    grid-auto-columns: 1.5rem;
    grid-template-rows:
      // [name] 5rem
      [zero] 0.75rem
      [zero-fifteen] 0.75rem
      [zero-thirty] 0.75rem
      [zero-forty-five] 0.75rem
      [one] 0.75rem
      [one-fifteen] 0.75rem
      [one-thirty] 0.75rem
      [one-forty-five] 0.75rem
      [two] 0.75rem
      [two-fifteen] 0.75rem
      [two-thirty] 0.75rem
      [two-forty-five] 0.75rem
      [three] 0.75rem
      [three-fifteen] 0.75rem
      [three-thirty] 0.75rem
      [three-forty-five] 0.75rem
      [four] 0.75rem
      [four-fifteen] 0.75rem
      [four-thirty] 0.75rem
      [four-forty-five] 0.75rem
      [five] 0.75rem
      [five-fifteen] 0.75rem
      [five-thirty] 0.75rem
      [five-forty-five] 0.75rem
      [six] 0.75rem
      [six-fifteen] 0.75rem
      [six-thirty] 0.75rem
      [six-forty-five] 0.75rem
      [seven] 0.75rem
      [seven-fifteen] 0.75rem
      [seven-thirty] 0.75rem
      [seven-forty-five] 0.75rem
      [eight] 0.75rem
      [eight-fifteen] 0.75rem
      [eight-thirty] 0.75rem
      [eight-forty-five] 0.75rem
      [nine] 0.75rem
      [nine-fifteen] 0.75rem
      [nine-thirty] 0.75rem
      [nine-forty-five] 0.75rem
      [ten] 0.75rem
      [ten-fifteen] 0.75rem
      [ten-thirty] 0.75rem
      [ten-forty-five] 0.75rem
      [eleven] 0.75rem
      [eleven-fifteen] 0.75rem
      [eleven-thirty] 0.75rem
      [eleven-forty-five] 0.75rem
      [twelve] 0.75rem
      [twelve-fifteen] 0.75rem
      [twelve-thirty] 0.75rem
      [twelve-forty-five] 0.75rem
      [thirteen] 0.75rem
      [thirteen-fifteen] 0.75rem
      [thirteen-thirty] 0.75rem
      [thirteen-forty-five] 0.75rem
      [fourteen] 0.75rem
      [fourteen-fifteen] 0.75rem
      [fourteen-thirty] 0.75rem
      [fourteen-forty-five] 0.75rem
      [fifteen] 0.75rem
      [fifteen-fifteen] 0.75rem
      [fifteen-thirty] 0.75rem
      [fifteen-forty-five] 0.75rem
      [sixteen] 0.75rem
      [sixteen-fifteen] 0.75rem
      [sixteen-thirty] 0.75rem
      [sixteen-forty-five] 0.75rem
      [seventeen] 0.75rem
      [seventeen-fifteen] 0.75rem
      [seventeen-thirty] 0.75rem
      [seventeen-forty-five] 0.75rem
      [eighteen] 0.75rem
      [eighteen] 0.75rem
      [eighteen-fifteen] 0.75rem
      [eighteen-thirty] 0.75rem
      [nineteen-forty-five] 0.75rem
      [nineteen-fifteen] 0.75rem
      [nineteen-thirty] 0.75rem
      [nineteen-forty-five] 0.75rem
      [twenty] 0.75rem
      [twenty-fifteen] 0.75rem
      [twenty-thirty] 0.75rem
      [twenty-forty-five] 0.75rem
      [twenty-one] 0.75rem
      [twenty-one-fifteen] 0.75rem
      [twenty-one-thirty] 0.75rem
      [twenty-one-forty-five] 0.75rem
      [twenty-two] 0.75rem
      [twenty-two-fifteen] 0.75rem
      [twenty-two-thirty] 0.75rem
      [twenty-two-forty-five] 0.75rem
      [twenty-three] 0.75rem
      [twenty-three-fifteen] 0.75rem
      [twenty-three-thirty] 0.75rem
      [twenty-three-forty-five] 0.75rem;
    grid-gap: 4px;
  }

  .up-left-corner {
    grid-column: 1;
    grid-row: name;
    width: 1.5rem;
  }

  .time-header {
    font-size: 0.5rem;
    grid-column: 1;
    grid-row: var(--hour);
    // border-top: 1px solid $text-color;
  }

  .name {
    grid-row: name;
    background-color: grey;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-align: right;
      height: 92%;
      writing-mode: vertical-rl;
      margin: 0;
    }
  }

  .shift {
    border-radius: 0.2rem;
    background-color: rgba(green,0.6);
    // color: white;
    color: black;
    font-size: 0.7rem;
    padding: 0.1em;

    display: flex;
    align-items: center;
    justify-content: center;


    overflow: hidden;

    &:hover {
      overflow: visible;
    }
    p {
      height: 92%;
      writing-mode: vertical-rl;
      // overflow-wrap: break-word;
      white-space: nowrap;
      font-size: 0.8em;
    }
  }

  .start-row {
    grid-row-start: var(--start-row);
  }

  .end-row {
    grid-row-end: var(--end-row);
  }

  .start-0 {
    grid-row-start: zero;
  }

  .start-1 {
    grid-row-start: one;
  }

  .start-2 {
    grid-row-start: two;
  }

  .start-3 {
    grid-row-start: three;
  }

  .start-4 {
    grid-row-start: four;
  }

  .start-5 {
    grid-row-start: five;
  }

  .start-6 {
    grid-row-start: six;
  }

  .start-7 {
    grid-row-start: seven;
  }

  .start-8 {
    grid-row-start: eight;
  }

  .start-9 {
    grid-row-start: nine;
  }

  .start-10 {
    grid-row-start: ten;
  }

  .start-11 {
    grid-row-start: eleven;
  }

  .start-12 {
    grid-row-start: twelve;
  }

  .start-13 {
    grid-row-start: thirteen;
  }

  .start-14 {
    grid-row-start: fourteen;
  }

  .start-15 {
    grid-row-start: fifteen;
  }

  .start-16 {
    grid-row-start: sixteen;
  }

  .start-17 {
    grid-row-start: seventeen;
  }

  .start-18 {
    grid-row-start: eighteen;
  }

  .start-19 {
    grid-row-start: nineteen;
  }

  .start-20 {
    grid-row-start: twenty;
  }

  .start-21 {
    grid-row-start: twenty-one;
  }

  .start-22 {
    grid-row-start: twenty-two;
  }

  .start-23 {
    grid-row-start: twenty-three;
  }

  .start-24 {
    grid-row-start: twenty-four;
  }

  .end-0 {
    grid-row-end: zero;
  }

  .end-1 {
    grid-row-end: one;
  }

  .end-2 {
    grid-row-end: two;
  }

  .end-3 {
    grid-row-end: three;
  }

  .end-4 {
    grid-row-end: four;
  }

  .end-5 {
    grid-row-end: five;
  }

  .end-6 {
    grid-row-end: six;
  }

  .end-7 {
    grid-row-end: seven;
  }

  .end-8 {
    grid-row-end: eight;
  }

  .end-9 {
    grid-row-end: nine;
  }

  .end-10 {
    grid-row-end: ten;
  }

  .end-11 {
    grid-row-end: eleven;
  }

  .end-12 {
    grid-row-end: twelve;
  }

  .end-13 {
    grid-row-end: thirteen;
  }

  .end-14 {
    grid-row-end: fourteen;
  }

  .end-15 {
    grid-row-end: fifteen;
  }

  .end-16 {
    grid-row-end: sixteen;
  }

  .end-17 {
    grid-row-end: seventeen;
  }

  .end-18 {
    grid-row-end: eighteen;
  }

  .end-19 {
    grid-row-end: nineteen;
  }

  .end-20 {
    grid-row-end: twenty;
  }

  .end-21 {
    grid-row-end: twenty-one;
  }

  .end-22 {
    grid-row-end: twenty-two;
  }

  .end-23 {
    grid-row-end: twenty-three;
  }

  .end-24 {
    grid-row-end: twenty-four;
  }
}
