.navbar-lewagon {
  background-image: url('abstract_background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  line-height: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white !important;
  vertical-align: middle;
}

#navbarDropdown {
  margin-left: 0.5rem;
}

#navbarSupportedContent {
  float: right;
}
