.navbar-lewagon {
  justify-content: space-between;
  line-height: 1.5;
  height: 3rem;
  padding-right: calc(1rem + 100% - 100vw);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 2rem;
  border-radius: 50%;
  border: 0.1rem solid white;
}

.nav-item {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: $accent;
  vertical-align: middle;
  margin-right: 1rem;

  &:hover {
    color: $accent-dark;
    text-decoration: none;
  }
}

#navbarDropdown {
  margin-left: 0.5rem;
  cursor: pointer;
}

#navbarSupportedContent {
  float: right;
}
