.role-overview-container {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: $grid-gap-vertical $grid-gap-horizontal;

  .role-overview-icon {
    width: $icon-size-medium;
    height: $icon-size-medium;
    // grid-column: 1;
  }

  .circle-icon {
    // grid-row: 1;
  }

  .role-overview-circles {
    // grid-row: 1;
  }

  .employee-icon {
    // grid-row: 2;
  }

  .role-overview-employees {
    // grid-row: 2;
  }
}
