.searchbar-container {
  width: min-content;

  input {
    border-radius: $border-radius-base;
    border: $border-width-sm solid rgba($accent, 0.5);

    &:focus, &:active {
      outline: none !important;
      box-shadow: none !important;
      border: $border-width-sm solid $accent;
    }
  }
}

.roles-searchbar-container {
  margin: $spacer-base 0;
}

.employees-searchbar-container {
  margin: $spacer-base auto;
}

.searchbar-roles, .searchbar-employees {
  width: $input--max-width;
}

