.day-shift-list {
  display: flex;
  margin-bottom: 1rem;

  .weekday-wrapper {
    width: 15ch;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 1.25em;

    p {
      font-weight: 600;
      color: $text-color-light-shade;
    }
  }

  .day-shifts {
    flex-basis: 90ch;

    .no-shifts-text {
      color: rgba($text-color-light-shade, 0.5);
    }
  }
}

.shift-list-header {
  box-shadow: none !important;
  margin-bottom: 0 !important;
  // color: rgba($text-color-light-shade, 0.8) !important;
  color: rgba(255,255,255, 0.8) !important;
  // background-color: white !important;
  // border: 0.2em solid rgba($accent, 0.6);
}
