// TODO: move to/merge with buttons.scss
.list-item-container {
  margin-right: $spacer-xxsm;

  a:hover {
    text-decoration: none;
  }
}

.tab {
  color: $accent;
  padding: $btn--padding-base;
  // border-radius: $border-radius-base;
  // border: $border-width-sm $clr-highlight-mint-300 solid;
  opacity: 0.85;
  // transition: opacity 0.1s ease, background-color 0.1s ease-out;

  &:hover {
    opacity: 1;
    border-bottom: 2px solid rgba($clr-highlight-mint-300, 0.3);
  }
}

.active-tab {
  // background-color: $clr-highlight-mint-300;
  // color: $clr-text-light-500;
  border-bottom: 2px solid $clr-highlight-mint-300;
  opacity: 1;

  &:hover {
    border-bottom: 2px solid $clr-highlight-mint-300;
    // background-color: $clr-highlight-mint-300;
    // color: $clr-text-light-500;
  }
}
