.list-item-container {
  margin-right: $spacer-xxsm;

  a:hover {
    text-decoration: none;
  }
}

.tab {
  color: $accent;
  padding: $btn--padding-base;
  border-radius: $border-radius-base;
  border: $border-width-sm $accent solid;
  opacity: 0.85;
  // transition: opacity 0.1s ease, background-color 0.1s ease-out;

  &:hover {
    opacity: 1;
  }
}

.active-tab {
  background-color: $accent;
  color: white;
  opacity: 1;

  &:hover {
    background-color: $accent;
    color: white;
  }
}
