// .orgchart-container {
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   // width: 90vw;
//   // height: 90vw;
//   // border: 1px solid black;
//   // border-radius: 50%;
//   // flex-wrap: wrap;
// }

// .inner-container {
//   // height: 66%;
//   // width: 66%;
//   // display: flex;
//   // flex-wrap: wrap;
//   // justify-content: center;
//   // align-items: center;
//   // background: blue;
// }

// .circle-title {
//   // font-size: calc(10px + 1em);
//   // padding: 0 1em 1em 0;
// }

// .subcircle {
//   // height: 50%;
//   // width: 50%;
//   // border-radius: 50%;
//   // background-color: green;
//   // height: max-content;
//   // width: max-content;
//   // display: flex;
//   // flex-wrap: wrap;
//   // justify-content: center;
//   // align-items: center;
//   // font-size: 50%;
//   // border: 2px solid $accent;
// }

// .role {
//   // height: 30%;
//   // width: 30%;
//   // height: calc(30px + 15%);
//   // width: calc(30px + 15%);
//   // max-height: 120px;
//   // min-height: 100px;
//   // height: 120px;
//   // width: 120px;
//   // max-width: 120px;
//   // min-width: 100px;
//   // border-radius: 50%;
//   // background: yellow;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   // word-wrap: break-word;
//   // padding: 1em;
//   // font-size: calc(8px + 0.5em);
// }
// .orgchart-container {
//   height: 90vw;
//   width: 90vw;
//   border-radius: 50%;
//   border: 2px solid $accent;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .inner-container {
//   height: 66% !important;
//   width: 66% !important;
//   border: 1px grey;
// }

// .subcircle {
//   display: flex !important;
//   align-items: center;
//   justify-content: center;
//   border-radius: 50%;
//   text-align: center;
//   // background: teal;
//   // display: inline-block;
//   border: 2px solid black;
// }

// .subcircle {
//   height: 50% !important;
//   width: 50% !important;
//   max-height: calc((min-content + max-content) /2);
//   max-width: calc((min-content + max-content) /2);
//   min-height: 300px;
//   min-width: 300px;
// }

// // .subcircle.sub-item-0 {
// //   height: 60%;
// //   width: 60%;
// // }

// // .subcircle.sub-item-1 {
// //   height: 400px;
// //   width: 400px;
// // }

// // .subcircle.sub-item-2 {
// //   height: 200px;
// //   width: 200px;
// // }

// .role {
//   border-radius: 50%;
//   height: 15% !important;
//   width: 15% !important;
//   max-height: 150px;
//   max-width: 150px;
//   min-height: 50px;
//   min-width: 50px;
//   border: 2px solid black;
// }

// .stamp {
//   position: absolute;
//   width: 150px;
//   height: 150px;

//   &.corner-tl {
//     top: 0;
//     left: 0;
//   }

//   &.corner-tr {
//     top: 0;
//     right: 0;
//   }
// }

.circle-0 {
  height: 1000px;
  width: 1000px;
  position: relative;
  // background: rgba(230,230,230, 0.5);
  background: transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.8);
  margin: 1rem;
}

.subcircle {
  width: var(--size);
  height: var(--size);
  // width: 30%;
  // height: 30%;
}

.role {
  width: 15%;
  height: 15%;
}

.subcircle, .role {
  border-radius: 50%;
  // border: 2px solid $accent;
  position: absolute;
  // background: rgba(230,230,230, 0.2);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.8);
  background: transparent;
}
