<div class="circles-index-page-container">
    <% @circles.each do |c| %>
        <%= render 'shared/circle-card',
          locals: {
            circle: c
          }
        %>
    <% end %>
</div>
