<div class="circles-show-page-container page-container">
  <div class="show-page-middle-container">
    <h1> <%= @circle.title %> </h1>

    <%= render 'shared/tabs', locals: { tabs: @tabs } %>

    <div class="circle-content">
      <%= render 'shared/circle-show-page-content' %>
    </div>
  </div>
</div>
